/*
 * File: content.css
 *
 * Created: 20 jun 2018 10:33:01
 * Last Modified: 20 jun 2018 13:31:54
 *
 * Copyright (c) 2018, Iván Ruvalcaba <mario.i.ruvalcaba[at]gmail[dot]com>
 * Author: Iván Ruvalcaba <mario.i.ruvalcaba[at]gmail[dot]com>
 *
 * This Source Code Form is subject to the terms of the Mozilla Public License,
 * v. 2.0. If a copy of the MPL was not distributed with this file, You can
 * obtain one at http://mozilla.org/MPL/2.0/.
 */

.noblur:hover, .noblur:hover * {
  filter: blur(0) !important;
  transition: all 0.5s ease;
}
